@font-face {
    font-family: "Original Surfer";
    src: url(OriginalSurfer-Regular.ttf);
  }
  
  
  body {
    font-family: Original Surfer;
    background-image: url('../game/sprites/zand.jpeg');
    margin: 0;
  }


#explain{
    margin-left: 20%;
    margin-top: 10%;
    font-size: 20px;
    width: 60%;
    background-color: rgba(90, 160, 235, 0.908);
    border: 2px solid white;
    border-radius: 5px;
}
p{
    color: white;
}