@font-face {
    font-family: 'Montserrat';
    src: url(../Montserrat-VariableFont_wght.ttf);
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent; 
    z-index: 1001; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px; 
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    margin-left: 50%;
    background-color: #212529; 
    overflow: hidden;
}
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white; 
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}
.image-container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}
nav {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.white {
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.black {
    color: white;
    font-size: 18px;
}
#yard {
    display: block;
    margin: -10px;
    margin-top: -20px;
    width: 120px;
    height: 120px;
}
#people {
    width: 65%;
    height: 70%;
    border-radius: 10px;
}
#black_text {
    margin-left: 50px;
    color: white;
    font-size: 55px;
    width: 80%;
}
.fa-solid {
    color: white;
    margin: 20px;
    display: none;
}
#yard-agency {
    font-weight: 350;
    font-size: 18px;
    width: 70%;
}
#bold {
    font-weight: 600;
}
.checkmark {
    width: 56px;
    height: 45px;
    margin: 4px;
}
#checkmark-list {
    display: flex;
    flex-direction: column;
}
#checkmark-text {
    display: flex;
    font-size: 16px;
    font-weight: 450;
    color: #1793ae;
    flex-direction: column;
}
#checkmark-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
    margin-left: 27%;
}

@media only screen and (max-width: 1025px) {
    #people {
        width: 60%;
        height: 50%;
    }
    #yard-agency {
        font-size: 20px;
    }
}
@media only screen and (max-width: 769px) {
    #yard-agency {
        font-size: 16px;
    }
    #checkmark-flex {
        margin-left: 18%;
    }
    .checkmark {
        width: 50px;
        height: 40px;
    }
    #checkmark-text {
        font-size: 15px;
    }
    #people {
        width: 75%;
    }
}
@media only screen and (max-width: 426px) {
    .header-container {
        justify-content: space-between;
    }
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #212529;
    }
    .image-container {
        padding-top: 30px;
    }
    .main-container {
        height: 600px;
        width: 100%;
        margin-left: 0;
        margin-top: 130%;
    }
    .content-container {
        height: 50%;
        width: 80%;
        margin-left: 10%;
        margin-top: 25%;
        top: 10%;
    }
    .hamburger-menu {
        display: flex;
    }

    .navbar.active {
        display: flex;
        background-color: white;
        position: absolute;
        left: 10px;
        top: 30px;
    }
    .black {
        font-size: 16px;
        margin-top: 5px;
        color: black;
    }
    .white {
        margin-top: 5px;
        font-size: 16px;
        
    }
    
    .fa-solid {
        color: black;
        display:block;
        width: 20px;
        height: 20px;
        font-size: 30px;
        margin: 10px;
        margin-right: 20px;
    }
    #black_text {
        font-size: 50px;
        margin-left: 12.5%;
        margin-top: 10px;
    }
    #yard {
        width: 100px;
        height: 100px;
        
    }
    #people {
        height: 45%;
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
    }
    #checkmark-text {
        height: 20px;
        width: 300px;
    }
    p {
        margin: 15px;
    }
    #yard-agency {
        height: 86vh;
        width: 100%;
        font-size: 17px;
    }
    #checkmark-flex {
        margin-left: 0%;
    }
    .checkmark {
        margin-left: 0;
    }
}