body{
    background-image: url(../img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


#Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b5e2fa9d;
    margin-top: 60px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;


}
p{
    font-size: 17px;
    text-align: center;
    margin: 10px;
}
form{
    margin: 30px;
    height: 250px;
}
#name{
    width: 500px;
    margin: 10px;
    margin-left: 13%;
}
#mail{
    width: 500px;
    margin: 10px;
    margin-left: 13%;
}
#bericht{
    margin: 10px;
    width: 500px;
    height: 100px;
    margin-left: 13%;
}
#submit{
    display: flex;
    justify-content: center; 
    margin-left: 45%;
}
#Bubflex{
    position: absolute;
    bottom: 210px;
    left: 180px;
    

}
.bubble{
    position: absolute;
    overflow: hidden;
    left: 190px;
    bottom: 210px;;
}
@media only screen and (max-width: 1025px){
    body{
        background-size: 135%;
    }
    #Contact{
        margin-left: 14%;
        width: 72%;
    }
    .bubble{
        z-index: -1;
        left: 150px;
        bottom: 80px;
    }
}
@media only screen and (max-width: 769px){
    body{
        background-size: 135%;
    }
    #Contact{
        margin-left: 14%;
        width: 72%;
    }
    .bubble{
        z-index: -1;
        left: 150px;
        bottom: 80px;
    }
    #name{
        margin-left: 0;
        margin-right: 0;
    }
    #mail{
        margin-left: 0;
        margin-right: 0;
    }
    #bericht{
        margin-left: 0;
        margin-right: 0;
    }

}
@media only screen and (max-width: 426px){
    body{
        background-size: 300%;
    }
    #Formflex{
        display: flex;

    }
    #Contact{
        width: 90%;
        margin-left: 5%;
    }
    #name{
        width: 100%;
    }
    #mail{
        width: 100%;
    }
    #bericht{
        width: 100%;
    }
    #submit{
        margin-left: 40%;
    }
    .bubble{
        bottom: 80px;
        left: 120px;
    }
}
