h1{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
body{
    background-image: url(../img/Zee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}
#boot{
    bottom: -10px;
    position: absolute;
    height: 150px;
}
#gamecraft-uitleg{
    font-size: 20px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #34f9fc8b;
    width: 500px;
    border-radius: 10px;
    margin-left: -130px;
}
p{
    margin: 10px;
}
#gamecraft-img{
    width: 180px;
    height: 180px;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media only screen and (max-width: 1025px){
    body{
        background-size: 140%;
    }
    #boot{
        height: 120px;
    }
    #gamecraft-uitleg{
        margin-left: -90px;
    }
}
@media only screen and (max-width: 769px){
    body{
        background-size: 140%;
    }
    #boot{
        height: 120px;
    }
    #gamecraft-uitleg{
        margin-left: -20px;
    }
    p{
        font-size: 16px;
    }
    h1{
        color: black;
    }
}

@media only screen and (max-width: 426px){
    body{
        background-size: 250%;
    }
    #boot{
        height: 120px;
    }
    #gamecraft-uitleg{
        margin-left: 0px;
        margin-bottom: 20px;
        width: 330px;
    }
    p{
        font-size: 15px;
    }
    h1{
        color: black;
    }
    .flexbox{
        flex-direction: column;
    }
    #gamecraft-img{
        width: 130px;
        height: 130px;
    }
    h1{
        font-size: 30px;
    }
    
}
