
::-webkit-scrollbar {
    display: none; /* Verbergt de scrollbar */
}
a {
    text-decoration: none; /* Verwijdert de underline */
    color: white; /* Zorgt ervoor dat de tekst wit is */
}
body{
    background-color: rgb(242, 242, 242);
}
a:hover {
    color: white; /* Optioneel: Zorgt ervoor dat de kleur wit blijft bij hover */
}
.aboutus{
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #ffca60, #ffa48d);
}
.aboutus_text{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    width: 900px;
    height: 250px;
}
.rugklachten img{
    width: 350px;
    height: 350px;
    border-radius: 22px;
    
}
.rugklachten{
    margin-top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.grey_text{
    font-size: 12px;
    color: grey;
}
.small_text{
    width: 600px;
    font-size: 15px;
    color: rgb(84, 84, 84)
}
.text-align{
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}
h1{
    font-weight: 1000;
    font-size: 28px;
}

.qualitybox_background{
    display: flex;
    background-color: rgba(250, 139, 2, 0.6);
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.qualitybox_info{
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    height: 250px;
    width: 200px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}
.qualitybox_info img{
    width: 90px;
    margin-top: 50px;
    opacity: 0.8; /* 50% doorzichtig */
}

.qualitybox_info p{
    width: 110px;
    font-weight: bold;
   
}
.qualitybox_center2{
    margin-left: 15px;
}
.qualitybox_center3{
    margin-left: 10px;
}

.container_footer{
    display: flex;
    font-size: 15px;
    color: white;
    justify-content: space-evenly;
    margin-left: 166px;
}
.container_footer h1{
    font-size: 20px;
}
.streep{
    display: flex;
    background-color: white;
    height: 1px;
    width: 70vw;
}
.box_streep{
    display: flex;
    justify-content: center;
}
.copyright{
    display: flex;
    padding-top: 50px;
    color: white;
    justify-content: center;
}
.logo_footer{
  display: flex;
  justify-content: center;
}
.logo_footer img{
    display: flex;
    width: 140px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.hidden {
    display: none !important;
}

.title_happy_customers_says{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.reviewcard{
    display: flex;
    border-style: double;
    padding: 20px;
    width: 30vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.reviewcard img{
height: 130px;
width: 130px;
border-radius: 50%;
}
.reviewcardflex{
    display: flex;
    justify-content: space-evenly;
}

.klantreview{
    margin-top: 40px;
    margin-bottom: 80px;
}

.introtext{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.introtext_kop{
    font-size: 30px;
    margin-bottom: 20px;
}
.introtext_rest{
    font-size: 12px;
    width: 1000px;
    margin-bottom: 150px;
    text-align: center;
}
.footer{
    padding: 20px;
    background-color: black;
}

@media (max-width: 1098px){
    .rugklachten{
        flex-direction: column;
    }
    .rugklachten img{
        margin-bottom: 40px;
    }
    .aboutus div{
        width: 650px;
    } 
    
}
@media (max-width: 813px){
    .responsive_hidden{
        display: none;
    }
    .reviewcardflex{
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }
    .reviewcard{
        width: 300px;
    }

    .footer{
        display: flex;
        font-size: 14px;
        height: 880px;
        flex-direction: column;
        align-items: center;
      }
      .vijfhoek{
        margin-left: 4px;
      }
      .logo_footer img{
        width: 80px;
        margin: 0;
      }
      .container_footer{
        display: flex;
        font-size: 16px;
        justify-content: space-evenly;
        
        flex-direction: column;
       
      }
      
      .Contacten{
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .container_footer{
        margin: 0;
        padding: 0;
      }
     
}

@media (max-width: 700px){
    .rugklachten img{
        width: 200px;
        height: 200px;
    }
    .we_are_ergowijzer h1{
        display: flex;
        justify-content: center;
    }
    .text-align {
        margin: 0;
    }
    .text-align h1{
       font-size: 20px;
       width: 300px;
    }
    .small_text {
        width: 300px;
    }
    .qualitybox_background {
        flex-direction: column;
        height: 800px;
    }
    .qualitybox_info{
        width: 350px;
    }
    .aboutus div{
        font-size: 16px;
        width: 320px;
    }
}




@media (max-width: 548px){
    .title_happy_customers_says{
        font-size: 13px;
    }
    
    .vijfhoek{
      margin-left: 4px;
    }
    .logo_footer img{
      width: 80px;
    }
    .container_footer{
      display: flex;
      font-size: 16px;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .text h1 {
        font-size: 20px;
        width: 150px;
    }
    .vakje h1 {
        font-size: 23px;
        width: 150px;
    }
    .vakje p {
        width: 180px;
    }
    .vakje_text p{
        display: flex;
        justify-content: center;
    }
    
    .Contacten{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .container_footer{
      margin: 0;
      padding: 0;
    }
    .text_contact_us{
        padding-left: 90px;
        padding-right: 90px;
        transform: translateY(-20%);
    }
    .contact_us{
        height: 800px;
    }
    .frontpage{
        display: none;
    }
    .frontpage_responsive{
        display: flex;
        margin-bottom: 60px;
    }
    .frontpage_responsive img{
        width: 100vw;
    }
    }
